@import url('https://fonts.googleapis.com/css2?family=Kodchasan&display=swap');
@import "tailwindcss";

* > * {
  font-family: "Kodchasan", sans-serif;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

html {
  font-size: 14px; /* mobile */
}

@media (min-width: 640px) {
  html {
    font-size: 16px;
  }
}

body { 
  margin: 0;
  padding: 0;
  background-color: linen;
  color: #333;
}
