@import url('https://fonts.googleapis.com/css2?family=Kodchasan&display=swap');
@import "tailwindcss";

* > * {
  font-family: "Kodchasan", sans-serif;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body { 
  margin: 0;
  padding: 0;
  background-color: linen;
  color: #333;
}
